# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.env
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
